@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
  font-family: 'Outfit', sans-serif;
}

body{
  background-image: url(pattern-background-desktop.svg);
  background-repeat: repeat-x;
  margin-top: 100px;
}
img{
  width: 100%;
}
h1, p{
  text-align: center;
}
p{
  font-size: 16px;
  color: hsl(225, 100%, 98%);
  font-weight: 500;
  margin-right: 25px;
  margin-left: 25px;
}
.ord-container{
  background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 350px;
    height: 465px;
    margin: 20px auto;
}

.ord-container > img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.plan-container{
  display: inline-block;
  margin: 0 auto;
  background-color: hsl(224, 23%, 55%);
  border-radius: 10px;
  width: 100%;
}

.plan-container > img{
  width: inherit;
  display: inline-block;
}
.button{
  background-color: hsl(223, 47%, 23%);
  padding: 12px 22px;
  margin: 4px 2px;
  cursor: pointer;
  display: inline-block;
}
.button-pay{
  color: white;
}
  
